body{
}
.head{
	 position: relative;
    bottom: -10;
    right: -380px;
    width: 500px;
    border: 5px solid #258;
    font-size:50px;
    background-color: #9AB1E7;

}
.add{
    position: relative;
    bottom: -10;
    right: -600px;

}