body{

}
.head{
	 position: relative;
    bottom: -10;
    right: -380px;
    width: 500px;
    border: 5px solid #258;
    font-size:60px;
    background-color: white;
}
.add{
    position: relative;
    bottom: -10;
    right: -600px;

}